/*-- scss:defaults --*/ 

$dark-green: #forestgreen;
$light-brown: #sandybrown;
$cream: #linen;
$yellow: #lightgoldenrod;
$olive: #olivedrab1;
$khaki: #darkkhaki

$body-bg: $cream; // page background
$link-color: $light-brown; // hyperlinks
$navbar-bg: $olive; // navbar